body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #fff;
  color: #222;
  font-size: 20px;
}


.menu {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  align-items: center;
}

.logo {
  height: 30px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.bolas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: relative;
}

.circ {
  background: #d87300;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.logo_centro {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.draw {
  background: #d87300;
  text-align: center;
  color: white;
  padding: 150px 150px;
  font-size: 18px;
  font-size: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 150px 150px;
}

.card {
  background: #fff;
  box-shadow: 1px 1px 21px -3px rgba(0,0,0,0.46);
  -webkit-box-shadow: 1px 1px 21px -3px rgba(0,0,0,0.46);
  -moz-box-shadow: 1px 1px 21px -3px rgba(0,0,0,0.46);
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
}

 .card span {
  font-size: 24px;
  display: block;
  margin-top: 10px;
}

.sombra {
  border-bottom: 15px solid #d87300;
}

.sombra1 {
  border-left: 15px solid #d87300;
}

.sombra2 {
  border-top: 15px solid #d87300;
}

footer {
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 150px 150px;
  font-size: 20px;
  flex-wrap: wrap;
}

.footer_itens {
  margin: 10px;
  text-align: center;
}
.foot_icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
  font-size: 24px;
}